<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To Do Project</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.core.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/app.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
</head>
<body>
		<% if (!user) { %>
	<div class="introText"><h2>Welcome!</h2>Take a moment to prioritize your to-do list and long-term goals (it's all to easy to ignore things that are important long term, in favor of things that
    	   		would be nice now!)<hr width="30%"> Currently, you're in demo mode.  If you'd like to save your own personal task list, please sign in.
				<div class="signin-links">    	   		
    	   		   	<a href="/login"><i class="fa fa-user" aria-hidden="true"></i>  Login</a>
  	   				<a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
  	   			<% if (loginPage) { %>	<a href="/task"><i class="fa fa-tasks" aria-hidden="true"></i> Return to Tasks</a> <% } %>
  	   			</div>
  	   		</div>  <!-- introText --!>
  	   		   <% } else { %>
	<nav class="navbar navbar-inverse">
    <div class="container">
    	   <ul class="nav navbar-nav navbar-right">
    	   	<li><a>Hi <%=user.username%>! </a></li>

  	   		<li><a href="/logout"><i class="fa fa-user" aria-hidden="true"></i>  Sign Out</a></li>
  	   	
  	   		</ul>
    
      </div>
  </div><!-- /.container-fluid -->
</nav>
	<% } %>


