<div class="jumbotron">
<img src="/img/zadie-logo.png" class="logo">
<h3>Zadie Educational Games is coming soon!</h3>
<p>In the meantime please explore:</p>
<ul>
    <li><a href="task">Task List Manager</a></li>
    <li><a href="http://www.christinemcleavey.com/musical-apps">Musical Apps</a></li>
</ul>
</div>


